aiofiles==0.6.0
aiohttp==3.7.4.post0    
aiosqlite==0.17.0       
akinator.py==5.0.0      
appdirs==1.4.4
asgiref==3.4.1
astunparse==1.6.3       
Async-OAuthlib==0.0.9   
async-timeout==3.0.1    
asyncio==3.4.3
asyncpg==0.23.0
atlastk==0.12.10        
attrs==21.2.0
autopep8==1.5.7
autotyper==3.0.2        
backoff==1.11.1
beautifulsoup4==4.9.3   
better-profanity==0.7.0 
black==21.6b0
blinker==1.4
braceexpand==0.1.7      
cachetools==4.2.2       
certifi==2020.12.5      
cffi==1.14.6
chardet==3.0.4
chess==1.6.1
click==8.0.1
colorama==0.4.4
convert==0.1.2
create-a-cli-tool==0.1.2
datadispatch==1.0.0
dateparser==1.0.0
discord-ext-ipc==2.1.1
discord-ext-menus @ git+https://github.com/Rapptz/discord-ext-menus@fbb8803779373357e274e1540b368365fd9d8074
discord-ext-menus-views @ git+https://github.com/oliver-ni/discord-ext-menus-views@56b30c553199169b73578e38f9cdbf80dc15312b
discord-flags==2.1.1
Discord-Games @ git+https://github.com/Tom-the-Bomb/Discord-Games@ec9ee04aae03765e7a2e66b12aaa1f765826337b
discord.py @ git+https://github.com/Sengolda/discord.py@c3a4d1956ed057ac41ab3f46a83759f718d26840
DiscordUtils==1.3.4
dnspython==1.16.0
english-words==1.0.4
fastapi==0.68.1
ffmpeg==1.4
flake8==3.9.2
Flask==1.1.2
Flask-Discord==0.1.64
Flask-WTF==0.15.1
ghp-import==2.0.2
google==3.0.0
google-api-core==1.31.1
google-api-python-client==2.15.0
google-auth==1.34.0
google-auth-httplib2==0.1.0
googleapis-common-protos==1.53.0
googletrans==3.1.0a0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2021.9.1
httpcore==0.9.1
httplib2==0.19.1
httpx==0.13.3
humanfriendly==10.0
humanize==3.11.0
Hypercorn==0.11.2
hyperframe==5.2.0
idna==2.10
import-expression==1.1.4
importlib-metadata==4.8.1
instaloader==4.8.1
instant-api-client==0.1.2
ipc==1.0.1
iso8601==0.1.14
isort==5.9.2
itsdangerous==1.1.0
javascriptpy==1.1.6
Jinja2==2.11.2
jishaku==2.3.0
jproperties==2.1.0
logging==0.4.9.6
lxml==4.6.3
Markdown==3.3.4
MarkupSafe==1.1.1
mccabe==0.6.1
mergedeep==1.3.4
mkdocs==1.2.2
mkdocs-material==7.3.2
mkdocs-material-extensions==1.0.3
MouseInfo==0.1.3
multidict==5.1.0
mypy-extensions==0.4.3
mysql-connector-python==8.0.25
node==0.9.26
nodejs==0.1.1
oauthlib==3.1.0
odict==1.7.0
optional-django==0.1.0
packages==0.1.0
packaging==21.0
pathspec==0.8.1
patreon==0.5.0
Pillow==8.3.0
plumber==1.6
priority==1.3.0
protobuf==3.17.3
prsaw==0.3.1
psutil==5.8.0
pyasn1==0.4.8
pyasn1-modules==0.2.8
PyAutoGUI==0.9.52
pycodestyle==2.7.0
pycparser==2.20
pydantic==1.8.2
pyfiglet==0.8.post1
pyflakes==2.3.1
pygame==2.0.1
PyGetWindow==0.0.9
pygit2==1.6.1
Pygments==2.10.0
PyJWT==2.1.0
pymdown-extensions==9.0
pymongo==3.11.4
PyMsgBox==1.0.9
PyNaCl==1.4.0
pyparsing==2.4.7
pyperclip==1.8.2
pypika-tortoise==0.1.1
pyreadline3==3.3
PyRect==0.1.4
PyScreeze==0.1.27
pyshorteners==1.0.1
python-dateutil==2.8.2
python-dotenv==0.15.0
PyTweening==1.0.3
pytz==2021.1
PyYAML==5.4.1
pyyaml_env_tag==0.1
Quart==0.15.1
Quart-Discord==2.1.4
regex==2021.7.6
requests==2.25.1
requests-oauthlib==1.3.0
rfc3986==1.5.0
rsa==4.7.2
ruamel.yaml==0.17.10
ruamel.yaml.clib==0.2.4
simpcalci==0.0.2
SimpleEconomy==2.1.2
six==1.16.0
sniffio==1.2.0
soupsieve==2.2.1
spotify==0.10.2
spotipy==2.19.0
starlette==0.14.2
tabulate==0.8.9
tasks==2.8.0
timeago==1.0.15
toml==0.10.2
tortoise==0.1.1
tortoise-orm==0.17.5
typing-extensions==3.10.0.0
tzdata==2021.1
tzlocal==3.0
uritemplate==3.0.1
urllib3==1.26.2
utils==1.0.1
uvicorn==0.15.0
vacefron.py==1.6.2
vscode-ext==1.4.2
watchdog==2.1.6
Werkzeug==2.0.1
wikipedia==1.4.0
wsproto==1.0.0
WTForms==2.3.3
yarl==1.6.3
youtube-dl==2021.6.6
zipp==3.6.0
zope.component==5.0.0
zope.deprecation==4.4.0
zope.event==4.5.0
zope.hookable==5.0.1
zope.interface==5.4.0
zope.lifecycleevent==4.3